@{
    ViewBag.Title = "Get Help";
}

<h2>Get Support</h2>

@using (Html.BeginForm())
{
    <div>
        <p>Please write us a message to get help:</p>
        <div>
            @Html.TextAreaFor()
        </div>
    </div>

}